<div>
    <div class="bg-teal-300 px-32 py-14">
        <div class="flex items-center">
            <div class="p-12">
                <h3 class="text-lg">Sobre nosotros</h3>
                <p>Bienvenidos a la Universidad Nacional Federico Villareal</p>
                <p>Empezamios nueva etapa</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem corporis sit voluptatibus
                    asperiores, placeat quibusdam dolorum quod deserunt est quis, minima provident nisi cumque! Amet sequi eaque
                    tenetur dignissimos ipsa!
                </p>
            </div>
            <img class="max-w-[36vmax]" src="../../../../assets/images/home/portada.jpg" alt="">
        </div>
    </div>
    <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
    </section>
</div>