.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 1rem;
}

.content-sec-one{
    display: grid;
    grid-template-columns: 3fr 2fr;

    .view{
        width: 100%;
        padding-right: 3rem;
        align-self: center;
        justify-self: center;
    }
    .text-info{
        padding: 3rem;
    }
    
}

.content-sec-three{
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    .view{
        width: 37vmax;
        height: 25vmax;
        align-self: center;
        justify-self: center;

        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .text-info{
        align-self: center;
        padding: 3rem;
    }
    
}

// @media ( width < 640px) {}
// @media ( width < 768px) {}


// @media ( width < 1536px) {}

.slider-item{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
    margin: 0 136px;
    .slider-img{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}


swiper-container {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
}

@media ( width < 1280px) {
    .slider-item{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(8, minmax(0, 1fr));
        margin: 0 3%;
        .slider-text{
            grid-row: 6/8;
            align-self: flex-end;
            padding: 0;
            h2{
                font-size: 20px;
            }
        }
        .slider-img{
            grid-column: 1/2;
            grid-row: 1/6;
        }
    }
}

@media ( width < 1024px) {
    .content-sec-one{
        grid-template-columns: 1fr;
        .text-info{
            padding: 1.5rem;
        }
        .view {
            width: 65vw;
            padding-right: 0;
        }
    }
    .content-sec-three{
        grid-template-columns: 1fr;
        .view{
            width: 80%;
            height: 35vmax;
            margin-top: 2rem;
        }
        .text-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            row-gap: 1rem;
            padding: 1rem;
        }
    }
}