<div>
    <section class="bg-white px-[7%] py-14 max-lg:pt-6">
        <div class="content-sec-one">
            <div class="text-info">
                <h2 class="text-lg max-lg:text-center">SOBRE NOSOTROS</h2>
                <h1 class="max-lg:text-center">Bienvenidos a la Universidad Nacional Federico Villareal</h1>
                <h3 class="max-lg:text-center">Empezamios nueva etapa</h3>
                <p class="max-lg:text-center">Nuestra Casa de estudios forma líderes comprometidos con el desarrollo
                    humano, social y ambiental,
                    ofreciendo educación de calidad, basada en valores como la fraternidad, solidaridad, responsabilidad
                    y respeto, aplicando la práctica desde el primer ciclo.
                </p>
            </div>
            <img class="view" ngSrc="../../../../assets/images/home/portada.jpg" width="864" height="650" priority alt="">
        </div>
    </section>
    <section class="bg-blue-200 px-[7%] py-14">
        <div class="p-12 max-lg:p-0">
            <div class="text-center mb-12">
                <h2 class="text-lg">CATEGORÍA DE CURSO</h2>
                <h1>Nuestras mejores categorías</h1>
            </div>
            <div class="grid-content">
                @for (item of cardTempalte; track item.career) {
                <app-course-letter [listCardTempalte]="item"></app-course-letter>
                }
            </div>
        </div>
    </section>
    <section class="bg-white px-[7%] py-14 max-lg:pt-6">
        <div class="content-sec-three">
            <img class="view rounded-full" ngSrc="../../../../assets/images/home/portada2.jpg" height="300"
                width="300" alt="">
            <div class="text-info">
                <h1 class="max-lg:text-center">Admisión Abierta 2024-I</h1>
                <p class="max-lg:text-center">Contamos con cursos únicos en el Perú y el mundo, tales como, Ciencias del
                    fracaso, Ciencias del abandono, Medicina Astral, Obstetricia de Kinesiologas, Ingeniería de
                    Panadería nuclear, Derechos del dibujito, entre otros. ¿Y tú?, que esperas para iniciar el examen de
                    admisión, por que recuerda: "Tu fracaso es el éxito de otros, USC".
                </p>
            </div>
        </div>
    </section>
</div>