<div class="content">
    <div class="navbar">
        <div class="icon_nav">
            <img src="" alt="">
        </div>
        <ul class="header_lu">
            <li class="header_li">
                <a href="">HOME</a>
                <div class="icon_title">
                    <mat-icon>home</mat-icon>
                </div>
            </li>
            <li class="header_li">
                <a href="">NOSOTROS</a>
                <div class="icon_title">
                    <!-- <mat-icon>add</mat-icon> -->
                    <mat-icon
                        svgIcon="heroicons_solid:check-circle">
                    </mat-icon>
                </div>
            </li>
            <li class="header_li">
                <a href="">CARRERAS</a>
                <div class="icon_title">
                    <mat-icon>add</mat-icon>
                </div>
            </li>
            <li class="header_li">
                <a href="">CONTACTO</a>
                <div class="icon_title">
                    <mat-icon>add</mat-icon>
                </div>
            </li>
            <li class="header_li">
                <a href="">OTROS</a>
                <div class="icon_title">
                    <mat-icon>add</mat-icon>
                </div>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
