<swiper-container class="h-[700px] py-20 px-56">
    @for (item of listCourse; track item.id) {
        <swiper-slide>
            <div class="grid grid-cols-2 h-full">
                <div
                    [appNotImage]="item.image">
                </div>
                <div class="p-8 text-center self-center">
                    <h2>{{item.title}}</h2>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </swiper-slide>
    }
</swiper-container>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="cube-transition"
>
  <p style="font-size: 20px; color: white; margin-top: 80px;">Cargando...</p>
</ngx-spinner>