@media ( hover: hover ){
    .content-card-course:hover {
        box-shadow: 5px 6px 7px rgba(33, 32, 51 , .6);
        background-color: rgba(0, 0, 0 , .2);;
        transition: 0.4s;
        transform: translateY(-8px);
        div:first-child {
            background: rgba(0, 0, 0 , .4);
            img{
                mix-blend-mode: multiply;
            }
        }
        div:nth-child(2){
            opacity: -1;
        }
        div:last-child {
            opacity: 1;
        }
    }
}