.conteiner-input{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .item-photo{
        grid-row: span 4;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid #e5e7eb;
    }
    .item-route-img{
        grid-row: 5/6;
        grid-column: 1/2;
    }
}

@media ( width < 1280px) {
    .conteiner-input{
        grid-template-columns: repeat(2, 1fr);
        .item-photo{
            grid-row: span 5;
        }
        .item-route-img{
            grid-row: 6/7;
            grid-column: 1/2;
        }
}
}

@media ( width < 640px) {
    .conteiner-input{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(15, 1fr);
        .item-photo{
            grid-row: 1/6;
        }
    }
}