<div class="content-course">
    <div class="sect">
        <h2 class="text-center">Logo del curso de {{data.title}}</h2>
        <img class="w-[7rem] h-[7rem] rounded-full" [src]="data.image" alt="">
    </div>
    <hr>
    <div class="sect">
        <h2>{{data.courses.length}} Cursos</h2>
        <div>
            @for (item of data.courses; track $index) {
                <p>{{$index+1}} - {{item.title}}</p>
            }
        </div>
    </div>
    <hr>
    <div class="sect">
        <h2>{{data.students.length}} Estudiantes</h2>
        <div>
            @for (item of data.students; track $index) {
                <p>{{$index+1}} - {{item.name}}</p>
            }
        </div>
    </div>
</div>