<div class="content">
    <div class="navbar">
        <div class="icon_nav">
            <img src="https://www.unfv.edu.pe/images/logo_aniversario.png" alt="">
        </div>
        <ul class="header_lu">
            <li class="header_li" (click)="navHeader('home')">
                <a href="">NOSOTROS</a>
                <div class="icon_title">
                    <mat-icon
                        svgIcon="heroicons_solid:plus">
                    </mat-icon>
                </div>
            </li>
            <li class="header_li" (click)="navHeader('students')">
                <a href="">CARRERAS</a>
                <div class="icon_title">
                    <mat-icon
                        svgIcon="heroicons_solid:plus">
                    </mat-icon>
                </div>
            </li>
            <li class="header_li" routerLink="/students">
                <a href="">ALUMNOS</a>
                <div class="icon_title">
                    <mat-icon
                        svgIcon="heroicons_solid:plus">
                    </mat-icon>
                </div>
            </li>
            <li class="header_li" routerLink="/students">
                <a href="">OTROS</a>
                <div class="icon_title">
                    <mat-icon
                        svgIcon="heroicons_solid:plus">
                    </mat-icon>
                </div>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
<app-footer/>