
// $color-bg-header: #1e76da;


.content{
    width: 100%;
    background-color: var(--dark-blue);
    padding: 1.5rem;
    .navbar {
        display: flex;
        justify-content: space-around;
        .icon_nav{
            width: 300px;
            background-color: #fff;
        }
        .header_lu{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .header_li{
                cursor: pointer;
                padding: 1rem;
                display: flex;
                a {
                    font-weight: 600;
                    color: #fff;
                    padding-top: 3px;
                }
                .icon_title {
                    // .material-icons{
                    //     color: #fff;
                    // };
                    mat-icon{
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media ( width < 1024px) {
    .content{
        background-color: #fff;
        padding: 1.5rem 0;
        .navbar{
            flex-direction: column;
            .icon_nav{
                align-self: center;
            }
            .header_lu{
                background-color: var(--dark-blue);
                margin-top: 2rem;
            }
        }
    }
}


@media ( width < 640px) {
    .content{
        .navbar{
            .header_lu{
                background-color: #fff;
                flex-direction: column;
                row-gap: 0.5rem;
                .header_li{
                    background-color: var(--dark-blue);
                    width: 100%;
                    justify-content: center;
                }
            } 
        }
    }
}