:root {
    --dark-blue: #073982;
    --color-primary: #002FA1;
    --color-primary-light: #3772FF;
    --color-primary-extra-light: #CCDDFF;
    --color-success: #1CCF78;
    --color-danger: #FE5656;
    --color-grey: #7C7F88;
    --color-grey-light: #d8d8d8;
    --color-grey-extralight: #f8f8f8;
    --medium-gray: #6C757D;
    --table-round: 15px;
}