<div class="content-footer">
    <div class="our-info max-md:text-center">
        <h3>NOSOTROS</h3>
        <p>Denunciamos cualquier acto ilicito en contra de esta institución, que poco a poco va creciendo gracias a
            ustedes, todos somos Universidad Sideral Carrión, porque fracasar no debe ser malo, si no un paso mas para
            seguir adelante.</p>
    </div>
    <div class="location text-center max-lg:text-left max-md:text-center">
        <h3>DIRECCIÓN</h3>
        <p>Av. Ricardo Treneman 875, Cercado de Lima</p>
        <p>(+51) 966-666-666</p>
        <p>universidad.sideral.carrion20k</p>
    </div>
    <div class="logo-icon items-center">
        <img ngSrc="https://www.unfv.edu.pe/images/logo_unfv_transp.png" width="245" height="90" alt="">
        <div class="set-icons w-full">
            <mat-icon svgIcon="facebook_icon"></mat-icon>
            <mat-icon svgIcon="correo_icon"></mat-icon>
            <mat-icon svgIcon="linkedin_icon"></mat-icon>
            <mat-icon svgIcon="whatsapp_icon"></mat-icon>
            <mat-icon svgIcon="youtube_icon"></mat-icon>
        </div>
    </div>
    <div class="reserved text-center">
        <hr>
        <div>
            <p>© 2021 Todos los derechos reservados.</p>
            <p>Desarrollado por gopoma</p>
        </div>
    </div>
</div>